.header{
 height: 200px;
 width: 100%;
 background-color: aqua;
  padding-top: 50px;


}
body { 

  background: url("../public/assets/image.jpg");
  background-size: cover;
  font-family: sans-serif;
  color:aliceblue;
}